.vertical-divider {
    border-right: 1px solid #ddd;
    height: 100%;
}

.horizontal-divider {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.content {
    padding-top: 20px;
}

.item-list-table th, .item-list-table td {
    vertical-align: middle;
}

.note {
    font-size: 0.9em;
    color: #555;
}

body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.navbar {
    margin-bottom: 20px;
}

.navbar .navbar-brand {
    color: white;
    font-weight: bold;
}

.navbar .nav-item .nav-link {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.container {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table th, .table td {
    vertical-align: middle;
}

thead.thead-dark {
    background-color: #155724;
    color: white;
}

.table tbody tr td button {
    margin-right: 5px;
}

.pagination-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
}

.page-number {
    width: 50px;
    text-align: center;
    margin: 0 5px;
}
