/* HomePage.css */

.info-section p {
    margin-bottom: 20px;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; 
}

.btn-container .btn {
    margin-bottom: 10px;
    width: 50%; 
    font-size: 0.8em; 
    background-color: rgb(28, 182, 51); 
    color: white; 
    border: none; 
}

.btn-container .btn:hover {
    background-color: rgb(42, 172, 63); 
}

.mb-4 {
    margin-bottom: 1.5rem; 
}

.section-divider {
    border: 0;
    border-top: 3px solid #242424;
    margin: 40px 0; 
}

.row .text-center h8 {
    display: block; 
    margin-top: 10px; 
}
